{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sobre nós
{% endblock title_block%}

{% block body_block %}
    <h1>Afinal, o que é Rango?</h1>
    <div>
        O Rango é uma aplicação que tem por objetivo o gerenciamento de links.<br />
    </div>

    <button class="btn btn-diferentao"
            onClick="alert('You clicked the button using JavaScript.');">
        Eu rodo JavaScript, tenta ai!
    </button>

    <button id="about-btn">
        Já eu sou JQuery...
    </button>
    <p>Tipo texto 1</p>
    <p>Tipo texto 2</p>

    <div id="msg">Olá!
        - Um outro exemplo de JQuery
    </div>

    <div>
        <img src="{% static 'images/clintcena.jpg' %}" alt="Foto importada do static images"/><br/>
        <img src="/media/estranho_sem_nome.jpg" alt="Foto importada da Media"/><br/>
        Essa página foi criada por {{ autor }}
    </div>
{% endblock body_block %}